<h3>Welcome <a href="profile.html">{{userName}}!</a></h3>
<p>This a empty index page, you can add any content here</p>
<p>
For common controls demo, please visit
<a href="demo.html">Demo html</a>
</p>

<div class="section-box">
    <h4 class="section-header">
        <span class="icons16 sectionArrow-blue"></span>
        <a href="javascript:;" class="toggle-link">Debug Window</a>
    </h4>
    <div class="section-content">
        <div class="section-row">
            <button class="lm-button purple" id="btnDebug">Debug</button>
        </div>
    </div>
</div>