<div class="section-box validationEngineContainer">
    <h4 class="section-header">
        <span class="icons16 sectionArrow-blue"></span>
        <a href="javascript:;" class="toggle-link">Change your password</a>
    </h4>
    <div class="section-content">
        <div class="section-row">
            <label>Old password </label>
            <input type="password" name="oldPassword" class="validate[required]">
        </div>
        <div class="section-row">
            <label>Enter your new password</label>
            <input type="password" id="password" name="password" class="validate[required]">
        </div>

        <div class="section-row">
            <label>Re-Enter your new password</label>
            <input id="re-password" type="password" name="re-password" class="validate[required, equals[password]]">
        </div>
        <div class="section-row">
            <a href="javascript:;" class="right btn-change lm-button purple animate">Change now!</a>
            <a href="#" class="right lm-button gray animate" style="margin-right:10px;">Cancel</a>
        </div>
    </div>
</div>