<tr data-id="{{id}}" class="data-row" data-unique-id="{{_uniqueId}}">
    <td class="col-id">
        <input id="id{{id}}" type="text" value="{{id}}" class="editable-control">
    </td>
    <td class="col-name">
        <div class="styled-lookup">
            <input type="text" value="{{name}}" class="editable-control">
            <span class="icons24 handle"></span>
        </div>
    </td>
    <td class="col-description">
        <div class="styled-date-range">
        <input type="text" value="{{description}}" class="editable-control">
        <span class="icons24 handle"></span>
        </div>
    </td>
    <td class="col-datasource">
        <div class="styled-time">
            <input type="text" value="{{datasource}}" class="editable-control">
            <span class="icons24 handle"></span>
        </div>
    </td>
</tr>
