<div class="signin-content validationEngineContainer">
    <div class="signin-logo" style="margin-bottom: 0;"></div>
    <div class="section-box">
        <div class="section-content">
            <div class="section-row">
                <label>Username</label>
                <input type="text" name="username" placeholder="Pick a username" class="validate[required]">
            </div>
            <div class="section-row">
                <label>Email</label>
                <input type="text" name="email" placeholder="Your email" class="validate[required, custom[email]]">
            </div>
            <div class="section-row">
                <label>Password</label>
                <input type="password" name="password" placeholder="Create a password" class="validate[required]">
            </div>
            <div class="section-row clearfix" style="height: 35px; line-height: 35px;">
                <span>Already a member?</span> <a href="login.html" style="font-size: 16px;">Log in</a>
                <a href="#" class="btn-signup lm-button purple right">Sign up</a>
            </div>
        </div>
    </div>
</div>
{{> commons/logicmonitor/foot}}
