<div class="dialog-head">
    <span class="icons16 sectionArrow-purple head-arrow"></span>
    <div class="head-title clearfix">
        <span class="{{titleIcon}}"></span>
        <span class="head-title-txt">{{title}}</span>
    </div>
    <div class="head-sub-title">
        {{subTitle}}
    </div>
    <a href="#" class="head-close"><span class="icons16 closeDialog-gray"></span></a>
</div>

<div class="dialog-top-border"></div>
<div class="dialog-body validationEngineContainer">
Hello World
</div>
<div class="dialog-bottom-border"></div>

<div class="dialog-foot clearfix">
</div>
