<div class="tree-favorite" >
    <div class="favorite-title">
        <span class="">Favorites</span>
        <span class="icons16 favoritesStar" style="vertical-align: middle;"></span>
    </div>
    <div class="favorite-panel">
        <div class="panel-content">
            <ul>
            </ul>
        </div>
        <div class="panel-dropped">
            <div class="panel-title" style="">
                <span class="common">Drag a device from above to save it as a favorite.</span>
                <span class="dragging" style="display: none;">You can drag a device from above to save it as a favorite.</span>
            </div>
            <div class="dropped-region">

            </div>
        </div>
    </div>
    <div class="favorite-sticky-title">

        <span class="icons16 favoritesStar-white" ></span>
        <span class="devices-number">0</span>
        <span >Device Saved</span>
        <span class="icons24 upArrowWhite right-icon" ></span>
    </div>
</div>