{{#if showFootSave}}
<button class="lm-button animate purple btn-save">submit</button>
{{/if}}

{{#if showFootClose}}
<button class="lm-button animate purple btn-close">close</button>
{{/if}}

{{#if showFootSaveClose}}
<button class="lm-button animate gray btn-save-close" >save &amp; close</button>
{{/if}}

{{#if showFootClone}}
<button class="btn-clone lm-button animate gray">
    <span class="icons16 clone-gray"></span>
    <span>clone</span>
</button>
{{/if}}

{{#if showFootCancel}}
<a class="btn-cancel link-btn">cancel</a>
{{/if}}

{{#if showFootDelete}}
<a class="btn-delete link-btn">delete</a>
{{/if}}
