<div class="validationEngineContainer">
<div class="section-row">
    <label>Enter your new password</label>
    <input type="password" id="password" name="password" class="validate[required]">
</div>

<div class="section-row">
    <label>Re-Enter your new password</label>
    <input id="re-password" type="password" name="re-password" class="validate[required, equals[password]]">
</div>

<div class="section-row clearfix" style="height:35px;line-height: 35px;">
    <a href="#" class="btn-confirm right lm-button purple">Confirm</a>
</div>
</div>