<div class="section-row">
    <label style="color:black;">Forgotten Password</label>
    <p>Enter your user name and a link to reset your password will be emailed to you.</p>
</div>

<div class="section-row">
    <label>Username or Email:</label>
    <input type="text" name="username">
</div>

<div class="section-row clearfix" style="height:35px;line-height: 35px;">
    <a href="login.html" class="" style="font-size: 16px;">Cancel</a>
    <a href="#" class="btn-send right lm-button purple">Send</a>
</div>
