
<div class="page-header clearfix">
    <h1>Auto Complete Demos</h1>
</div>
<div class="page-content">
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Auto Complete(static source)</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <div class="styled-lookup" style="width: 500px;">
                    <input type="text" id="auto-comp-static">
                    <span class="icons24 handle"></span>
                </div>
            </div>
        </div>
    </div>
</div>
