
<div class="page-header clearfix">
    <h1>Block UI Demos</h1>
</div>
<div class="page-content">
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Block entire page</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <button class="lm-button purple" id="blockEntirePage">Block</button>
            </div>
        </div>
    </div>

    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Block DOM Element</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <button class="lm-button purple" id="blockSomeEl">Block</button>
                <button class="lm-button purple" id="unBlockSomeEl">Unblock</button>
                <div style="width:100%;height:200px;background:orange;border:solid 1px navy;" id="testBlockDiv">

                </div>
            </div>
        </div>
    </div>
</div>