
<div class="page-header clearfix">
    <h1>Buttons Demos</h1>
</div>
<div class="page-content">
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Normal Size Buttons</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <button class="lm-button blue">Blue Button</button>
                <button class="lm-button gray">Gray Button</button>
                <button class="lm-button purple">Purple Button</button>
            </div>
        </div>
    </div>
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Small Size Buttons</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <button class="lm-button blue small">Blue Button</button>
                <button class="lm-button gray small">Gray Button</button>
                <button class="lm-button purple small">Purple Button</button>
            </div>
        </div>
    </div>
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Small Small Size Buttons</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <button class="lm-button blue small-small">Blue Button</button>
                <button class="lm-button gray small-small">Gray Button</button>
                <button class="lm-button purple small-small">Purple Button</button>
            </div>
        </div>
    </div>
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Buttons with icon</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <button class="lm-button blue small-small"><span class="icons16 plusAdd"></span></button>
                <button class="lm-button gray small"><span class="icons16 plusAdd"></span></button>
                <button class="lm-button purple small"><span class="icons16 plusAdd"></span>hello</button>
                <button class="lm-button purple"><span class="icons16 plusAdd"></span></button>
                <button class="lm-button gray small-small"><span class="icons16 plusAdd"></span>Gray Button</button>
                <button class="lm-button blue small"><span class="icons16 plusAdd"></span>Gray Button</button>
                <button class="lm-button gray"><span class="icons16 plusAdd"></span>Gray Button</button>
                <button class="lm-button purple small-small">Purple Button<span class="icons16 plusAdd"></span></button>
            </div>
        </div>
    </div>
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Animation Effect(when pressed)</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <button class="lm-button blue animate">Blue Button</button>
                <button class="lm-button gray animate">Gray Button</button>
                <button class="lm-button purple animate">Purple Button</button>
            </div>
        </div>
    </div>
</div>