
<div class="page-header clearfix">
    <h1>Criteria Table Demos</h1>
</div>
<div class="page-content">
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Criteria Table</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <div class="criteria-table-con" style="margin-top: 10px;background: white;max-width: 600px;margin-left: 20px;">

                </div>

                <button class="lm-button blue" id="btnGetData">Get Data</button>
                <button class="lm-button gray" id="btnGetDeltaData">Get Delta Data(add/update/delete)</button>
            </div>
        </div>
    </div>
</div>