

<ul>
    <li class="heading with-menu">Logicmonitor UI controls</li>
    <li class="menu">
        <ul>
            <li class='{{#ifequal module "auto-complete"}}selected{{/ifequal}}'><a href="#auto-complete">Auto Complete</a></li>
            <li class='{{#ifequal module "buttons"}}selected{{/ifequal}}'><a href="#buttons">Buttons</a></li>
            <li class='{{#ifequal module "block-ui"}}selected{{/ifequal}}'><a href="#block-ui">Block UI</a></li>
            <li class='{{#ifequal module "criteria-table"}}selected{{/ifequal}}'><a href="#criteria-table">Criteria Table</a></li>
            <li class='{{#ifequal module "dialog"}}selected{{/ifequal}}'><a href="#dialog">Dialog</a></li>
            <li class='{{#ifequal module "dropdown"}}selected{{/ifequal}}'><a href="#dropdown">DropDown</a></li>
            <li class='{{#ifequal module "dropdown-menu"}}selected{{/ifequal}}'><a href="#dropdown-menu">DropDown Menu</a></li>
            <li class='{{#ifequal module "expand-table"}}selected{{/ifequal}}'><a href="#expand-table">Expand Table</a></li>
            <li class='{{#ifequal module "filter-bar"}}selected{{/ifequal}}'><a href="#filter-bar">Filter Bar</a></li>
            <li class='{{#ifequal module "form-controls"}}selected{{/ifequal}}'><a href="#form-controls">Form Controls</a></li>
            <li class='{{#ifequal module "form-dialog"}}selected{{/ifequal}}'><a href="#form-dialog">Form Dialog</a></li>
            <li class='{{#ifequal module "info-table"}}selected{{/ifequal}}'><a href="#info-table">Info Table</a></li>
            <li class='{{#ifequal module "message-box"}}selected{{/ifequal}}'><a href="#message-box">Message Box</a></li>
            <li class='{{#ifequal module "pager"}}selected{{/ifequal}}'><a href="#pager">Pager</a></li>
            <li class='{{#ifequal module "section-box"}}selected{{/ifequal}}'><a href="#section-box">Section Box</a></li>
            <li class='{{#ifequal module "sidebar"}}selected{{/ifequal}}'><a href="#sidebar">SideBar</a></li>
            <li class='{{#ifequal module "simple-searchbox"}}selected{{/ifequal}}'><a href="#simple-searchbox">Simple Search Box</a></li>
            <li class='{{#ifequal module "static-tree"}}selected{{/ifequal}}'><a href="#static-tree">Static Tree</a></li>
            <li class='{{#ifequal module "tab"}}selected{{/ifequal}}'><a href="#tab">Tab</a></li>
            <li class='{{#ifequal module "table"}}selected{{/ifequal}}'><a href="#table">Table</a></li>
            <li class='{{#ifequal module "tooltip"}}selected{{/ifequal}}'><a href="#tooltip">Tooltip</a></li>
        </ul>
    </li>

</ul>
