
<div class="page-header clearfix">
    <h1>Dialog Demos</h1>
</div>
<div class="page-content">
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Simple Dialog</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <button class="lm-button purple" id="btnSimpleDlg">Open Simple Dialog</button>
            </div>
        </div>
    </div>
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Dialog With Data</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <button class="lm-button purple" id="btnDataDlg">Open Dialog With Data</button>
                <textarea id="data" style="margin-top:10px;height:100px;">Hello world!</textarea>
            </div>
        </div>
    </div>
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Dialog using Model</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <button class="lm-button purple" id="btnModelDlg">Open Dialog Using Model</button>
            </div>
        </div>
    </div>
</div>