
<div class="page-header clearfix">
    <h1>Drop Down Menu Demos</h1>
</div>
<div class="page-content">
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Drop Down Menu</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <button class="lm-button blue" id="openDropDownMenu">Open Menu</button>
            </div>
        </div>
    </div>
</div>