
<div class="page-header clearfix">
    <h1>Form Controls</h1>
</div>
<div class="page-content">
    <div class="section-box" style="width: 400px">
        <div class="section-content">
            <div class="section-row">
                <label class="inline">Radio</label>
                <div class="styled-radio">
                    <input type="radio" id="rowspan2" name="rowSpan" value="2">
                    <label for="rowspan2"></label>
                </div>
            </div>
            <div class="section-row">
                <label class="inline">Checkbox</label>
                <div class="styled-checkbox">
                    <input type="checkbox" id="chk1">
                    <label for="chk1"></label>
                </div>
            </div>
            <div class="section-row">
                <label >Upload Button</label>
                <div class="styled-file-input">
                    <button class="lm-button gray">Browse</button>
                    <input type="file">
                </div>
            </div>
            <div class="section-row">
                <label>Select</label>
                <div class="styled-select">
                    <select>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                    <span class="icons24 handle"></span>
                </div>
            </div>
            <div class="section-row">
                <label>Inputs</label>
                <div class="section-content">
                    <div class="section-row">
                        <label>Date</label>
                        <div class="styled-date-range">
                            <input type="text">
                            <span class="icons24 handle"></span>
                        </div>
                    </div>
                    <div class="section-row">
                        <label>Time</label>
                        <div class="styled-time">
                            <input type="text">
                            <span class="icons24 handle"></span>
                        </div>
                    </div>
                    <div class="section-row">
                        <label>Lookup</label>
                        <div class="styled-lookup">
                            <input type="text">
                            <span class="icons24 handle"></span>
                        </div>
                    </div>
                    <div class="section-row">
                        <label>Phone Number</label>
                        <div class="styled-phone-input">
                            <span>+</span>
                            <input type="text" size="3" class="phone-country-num" value="12">
                            <span>-</span>
                            <input type="text" value="123456789">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>