
<div class="page-header clearfix">
    <h1>Info Table Demos</h1>
</div>
<div class="page-content">
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Info Table</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <div class="info-table-con-single" style="margin-top: 10px; margin-left: 20px;">

                </div>
                <div class="info-table-con-couple" style="margin-top: 10px; margin-left: 20px;">

                </div>
            </div>
        </div>
    </div>
</div>