<div class="page-header clearfix">
    <h1>Pager Demos</h1>
</div>
<div class="page-content">
    <div class="section-box">
        <h4 class="section-header">
            <span class="icons16 sectionArrow-blue"></span>
            <a href="javascript:;" class="toggle-link">Info Table</a>
        </h4>
        <div class="section-content">
            <div class="section-row">
                <div class="pager-con" style="margin-top: 10px; margin-left: 20px; width: 500px;">

                </div>
                <div class="content1">
                    Content1 <br>
                    Content2 <br>
                    Content3 <br>
                    Content4 <br>
                    Content5 <br>
                </div>
                <div class="content2" style="display: none;">
                    Content6 <br>
                    Content7 <br>
                    Content8 <br>
                    Content9 <br>
                    Content10 <br>
                </div>
                <div class="content3" style="display: none;">
                    Content11 <br>
                    Content12 <br>
                    Content13 <br>
                    Content14 <br>
                    Content15 <br>
                </div>
                <div class="content4" style="display: none;">
                    Content16 <br>
                    Content17 <br>
                    Content18 <br>
                    Content19 <br>
                    Content20 <br>
                </div>
                <div class="content5" style="display: none;">
                    Content21 <br>
                    Content22 <br>
                    Content23 <br>
                    Content24 <br>
                    Content25 <br>
                </div>
                <div class="content6" style="display: none;">
                    Content26 <br>
                    Content27 <br>
                    Content28 <br>
                    Content29 <br>
                    Content30 <br>
                </div>
            </div>
        </div>
    </div>
</div>