@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "./controls/_variable";

/* -----------------------------------------
  Museo Sans
----------------------------------------- */

/*Museo Sans 100*/
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans/museosans_100-webfont.eot');
    src: url('../fonts/MuseoSans/museosans_100-webfont.svg#MuseoSans100') format('svg'),
    url('../fonts/MuseoSans/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/museosans_100-webfont.woff') format('woff'),
    url('../fonts/MuseoSans/museosans_100-webfont.ttf') format('truetype');

    font-weight: 100;
    font-style: normal;
}

/*Museo Sans 100 italic*/
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans/museosans_100_italic-webfont.eot');
    src: url('../fonts/MuseoSans/museosans_100_italic-webfont.svg#MuseoSans100') format('svg'),
    url('../fonts/MuseoSans/museosans_100_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/museosans_100_italic-webfont.woff') format('woff'),
    url('../fonts/MuseoSans/museosans_100_italic-webfont.ttf') format('truetype');

    font-weight: 100;
    font-style: italic;
}

/*Museo Sans 300*/
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans/museosans_300-webfont.eot');
    src: url('../fonts/MuseoSans/museosans_300-webfont.svg#MuseoSans300') format('svg'),
    url('../fonts/MuseoSans/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/museosans_300-webfont.woff') format('woff'),
    url('../fonts/MuseoSans/museosans_300-webfont.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

/*Museo Sans 300 italic*/
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans/museosans_300_italic-webfont.eot');
    src: url('../fonts/MuseoSans/museosans_300_italic-webfont.svg#MuseoSans300') format('svg'),
    url('../fonts/MuseoSans/museosans_300_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/museosans_300_italic-webfont.woff') format('woff'),
    url('../fonts/MuseoSans/museosans_300_italic-webfont.ttf') format('truetype');

    font-weight: normal;
    font-style: italic;
}

/*Museo Sans 300*/
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans/museosans_300-webfont.eot');
    src: url('../fonts/MuseoSans/museosans_300-webfont.svg#MuseoSans300') format('svg'),
    url('../fonts/MuseoSans/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/museosans_300-webfont.woff') format('woff'),
    url('../fonts/MuseoSans/museosans_300-webfont.ttf') format('truetype');

    font-weight: 300;
    font-style: normal;
}

/*Museo Sans 300 italic*/
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans/museosans_300_italic-webfont.eot');
    src: url('../fonts/MuseoSans/museosans_300_italic-webfont.svg#MuseoSans300') format('svg'),
    url('../fonts/MuseoSans/museosans_300_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/museosans_300_italic-webfont.woff') format('woff'),
    url('../fonts/MuseoSans/museosans_300_italic-webfont.ttf') format('truetype');

    font-weight: 300;
    font-style: italic;
}

/*Museo Sans 500 */
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans/museosans_500-webfont.eot');
    src: url('../fonts/MuseoSans/museosans_500-webfont.svg#MuseoSans500') format('svg'),
    url('../fonts/MuseoSans/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/museosans_500-webfont.woff') format('woff'),
    url('../fonts/MuseoSans/museosans_500-webfont.ttf') format('truetype');

    font-weight: 500;
    font-style: normal;
}

/*Museo Sans 700 */
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans/museosans_700-webfont.eot');
    src: url('../fonts/MuseoSans/museosans_700-webfont.svg#MuseoSans700_italic') format('svg'),
    url('../fonts/MuseoSans/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/museosans_700-webfont.woff') format('woff'),
    url('../fonts/MuseoSans/museosans_700-webfont.ttf') format('truetype');

    font-weight: 700;
    font-style: normal;
}

/*Museo Sans 700 italic*/
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans/museosans_700_italic-webfont.eot');
    src: url('../fonts/MuseoSans/museosans_700_italic-webfont.svg#MuseoSans700_italic') format('svg'),
    url('../fonts/MuseoSans/museosans_700_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/museosans_700_italic-webfont.woff') format('woff'),
    url('../fonts/MuseoSans/museosans_700_italic-webfont.ttf') format('truetype');

    font-weight: 700;
    font-style: italic;
}

/*Museo Sans 900*/
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans/museosans_900-webfont.eot');
    src: url('../fonts/MuseoSans/museosans_900-webfont.svg#MuseoSans900') format('svg'),
    url('../fonts/MuseoSans/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/museosans_900-webfont.woff') format('woff'),
    url('../fonts/MuseoSans/museosans_900-webfont.ttf') format('truetype');

    font-weight: 900;
    font-style: normal;
}

/*Museo Sans 900 italic*/
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans/museosans_900_italic-webfont.eot');
    src: url('../fonts/MuseoSans/museosans_900_italic-webfont.svg#MuseoSans900_italic') format('svg'),
    url('../fonts/MuseoSans/museosans_900_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans/museosans_900_italic-webfont.woff') format('woff'),
    url('../fonts/MuseoSans/museosans_900_italic-webfont.ttf') format('truetype');

    font-weight: 900;
    font-style: italic;
}

@mixin force-width($width) {
    width: $width;
    max-width: $width;
    min-width: $width;
}

/* override browser's default scrollbar style*/
::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

::-webkit-scrollbar {
    width: 13px;
    height: 10px;
    border: solid 1px #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    background-clip: padding-box;
    border: 1px solid #bbb;
    min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
    border: 1px solid #636363;
    background-color: #929292;
}

/* -----------------------------------------
   global styles
----------------------------------------- */
*, *:before, *:after {
    @include box-sizing(border-box);
}

body, body * {
    @include box-sizing(border-box);
    font-family: 'MuseoSans';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

body.app {
    background: none repeat scroll 0 0 #F5F5F5;
}

a {
    border-bottom: 1px solid $color-purple2;
    color: $color-purple2;

    &:link {
        color: $color-purple2;
        text-decoration: none;
    }
    &:hover, &:active, &:focus {
        color: #0d8dcc;
    }
}

.clearfix, .add-clearfix {
    @include pie-clearfix;
}

ul, ol, dl {
    line-height: 1.6;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* -----------------------------------------
   App Navigation
----------------------------------------- */
.top-nav {
    padding: 0 8px;
    position: fixed;
    z-index: 10;
    background: white;
    width: 100%;
    height: 55px;
    border-bottom: 5px solid #ebebeb;
    line-height: 55px;
    border-bottom: none;

    a {
        font-size: 14px;
    }

    a.gray-link {
        color: #757575;
    }

    .tiny-splitter {
        display: inline-block;
        height: 18px;
        border-right: solid 1px #ccc;
        position: relative;
        top: 5px;
    }

    .logo {
        @include background(image-url('logo.png', false, true));
        float: left;
        display: inline-block;
        width: 64px;
        height: 50px;
        text-decoration: none;
        border-bottom: none;
    }

    .powered-by {
        @include background(image-url('powered_by.png', false, true));
        float: left;
        display: inline-block;
        width: 188px;
        height: 32px;
        text-decoration: none;
        border-bottom: none;
    }
}

/* -----------------------------------------
    workspace global style, make the sub contents
    in a predefined container
----------------------------------------- */
.workspace-con {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 55px;

    .workspace {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: auto;

        .sidebar-con {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            z-index: 4;
        }

        .main-con {
            width: 100%;
            height: 100%;
            padding-left: 247px;

            .page-wrapper {
                width: 100%;
                height: 100%;
                position: relative;

                .page-header {
                    height: 61px;
                    line-height: 61px;
                    padding-left: 25px;
                    z-index: 1;
                    position: relative;
                    background: $color-gray8;

                    h1 {
                        font-size: 30px;
                        font-weight: normal;
                        float: left;

                        * {
                            vertical-align: middle;
                        }

                        .page-name {
                            font-size: 30px;
                        }

                        .page-manage {
                            margin-left: 20px;
                        }
                    }
                }

                .page-content {
                    height: 100%;
                    width: 100%;
                    padding-top: 61px;
                    overflow: auto;
                    background: white;
                    position: absolute;
                    top: 0;
                }
            }
        }
    }
}

.formError {
    .formErrorContent {
        @include border-radius(4px);
        border: none;
        @include box-shadow(2px 2px 3px #999);
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
        background: #ea262b;
    }
    .formErrorArrow {
        div {
            border: none;
            background: #ea262b;
        }
        .line3 {
            border: none;
        }
        .line2 {
            background: none;
        }
        .line1 {
            background: none;
        }
    }
}

.bottom-action-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid gray;
    background: white;

    .lm-button {
        margin: 0 5px;
    }

    .link-btn {
        margin-top: 10px;
    }
}

.lm-sidebar {
    .name-search {
        padding: 14px 10px 3px 10px;
        background: #dfdfdf;
        border-bottom: 1px solid #ccc;
        position: relative;
        @include background-image(linear-gradient(white, rgba(240, 240, 240, 1) 0%, rgba(223, 223, 223, 1) 100%));
        padding-bottom: 15px;

        h4.page-title {
            margin-bottom: 5px;
            margin-top: 0;
            font-size: 24px;
            color: #333;
        }
    }

    .tree-wrapper {
        overflow-y: auto;
        position: relative;
        background: $color-gray8;
    }

}

/* datetime picker */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 65px 10px 10px;
}

.ellips {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

span {
    &.ellips {
        display: inline-block;
    }
}

button[disabled], input[disabled] {
    opacity: 0.4;
}

.signin-content {
    width: 515px;
    margin: auto;
    padding-top: 60px;
    .signin-logo {
        width: 288px;
        height: 56px;
        margin: 0 auto 25px auto;
        @include background(image-url('signin_logo.png', false, true));
    }

    .section-box {
        padding: 55px 100px;

        .section-content {
            padding: 0;
        }
    }
}

.page-foot {
    margin-top: 20px;
    text-align: center;
}

/* CSS Arrows */
.gray-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5.5px 0 5.5px;
    border-color: #888888 transparent transparent transparent;
    display: inline-block;
}
