/* -----------------------------------------
    color definitions
----------------------------------------- */
/* -----------------------------------------
  Museo Sans
----------------------------------------- */
/*Museo Sans 100*/
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans/museosans_100-webfont.eot");
  src: url("../fonts/MuseoSans/museosans_100-webfont.svg#MuseoSans100") format("svg"), url("../fonts/MuseoSans/museosans_100-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/museosans_100-webfont.woff") format("woff"), url("../fonts/MuseoSans/museosans_100-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
/*Museo Sans 100 italic*/
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans/museosans_100_italic-webfont.eot");
  src: url("../fonts/MuseoSans/museosans_100_italic-webfont.svg#MuseoSans100") format("svg"), url("../fonts/MuseoSans/museosans_100_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/museosans_100_italic-webfont.woff") format("woff"), url("../fonts/MuseoSans/museosans_100_italic-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
/*Museo Sans 300*/
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans/museosans_300-webfont.eot");
  src: url("../fonts/MuseoSans/museosans_300-webfont.svg#MuseoSans300") format("svg"), url("../fonts/MuseoSans/museosans_300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/museosans_300-webfont.woff") format("woff"), url("../fonts/MuseoSans/museosans_300-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Museo Sans 300 italic*/
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans/museosans_300_italic-webfont.eot");
  src: url("../fonts/MuseoSans/museosans_300_italic-webfont.svg#MuseoSans300") format("svg"), url("../fonts/MuseoSans/museosans_300_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/museosans_300_italic-webfont.woff") format("woff"), url("../fonts/MuseoSans/museosans_300_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
/*Museo Sans 300*/
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans/museosans_300-webfont.eot");
  src: url("../fonts/MuseoSans/museosans_300-webfont.svg#MuseoSans300") format("svg"), url("../fonts/MuseoSans/museosans_300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/museosans_300-webfont.woff") format("woff"), url("../fonts/MuseoSans/museosans_300-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/*Museo Sans 300 italic*/
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans/museosans_300_italic-webfont.eot");
  src: url("../fonts/MuseoSans/museosans_300_italic-webfont.svg#MuseoSans300") format("svg"), url("../fonts/MuseoSans/museosans_300_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/museosans_300_italic-webfont.woff") format("woff"), url("../fonts/MuseoSans/museosans_300_italic-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
/*Museo Sans 500 */
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans/museosans_500-webfont.eot");
  src: url("../fonts/MuseoSans/museosans_500-webfont.svg#MuseoSans500") format("svg"), url("../fonts/MuseoSans/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/museosans_500-webfont.woff") format("woff"), url("../fonts/MuseoSans/museosans_500-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/*Museo Sans 700 */
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans/museosans_700-webfont.eot");
  src: url("../fonts/MuseoSans/museosans_700-webfont.svg#MuseoSans700_italic") format("svg"), url("../fonts/MuseoSans/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/museosans_700-webfont.woff") format("woff"), url("../fonts/MuseoSans/museosans_700-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*Museo Sans 700 italic*/
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans/museosans_700_italic-webfont.eot");
  src: url("../fonts/MuseoSans/museosans_700_italic-webfont.svg#MuseoSans700_italic") format("svg"), url("../fonts/MuseoSans/museosans_700_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/museosans_700_italic-webfont.woff") format("woff"), url("../fonts/MuseoSans/museosans_700_italic-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
/*Museo Sans 900*/
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans/museosans_900-webfont.eot");
  src: url("../fonts/MuseoSans/museosans_900-webfont.svg#MuseoSans900") format("svg"), url("../fonts/MuseoSans/museosans_900-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/museosans_900-webfont.woff") format("woff"), url("../fonts/MuseoSans/museosans_900-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*Museo Sans 900 italic*/
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans/museosans_900_italic-webfont.eot");
  src: url("../fonts/MuseoSans/museosans_900_italic-webfont.svg#MuseoSans900_italic") format("svg"), url("../fonts/MuseoSans/museosans_900_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/museosans_900_italic-webfont.woff") format("woff"), url("../fonts/MuseoSans/museosans_900_italic-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/* override browser's default scrollbar style*/
/* line 159, ../sass/common.scss */
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* line 165, ../sass/common.scss */
::-webkit-scrollbar {
  width: 13px;
  height: 10px;
  border: solid 1px #ddd;
}

/* line 171, ../sass/common.scss */
::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  background-clip: padding-box;
  border: 1px solid #bbb;
  min-height: 28px;
}

/* line 178, ../sass/common.scss */
::-webkit-scrollbar-thumb:hover {
  border: 1px solid #636363;
  background-color: #929292;
}

/* -----------------------------------------
   global styles
----------------------------------------- */
/* line 186, ../sass/common.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 190, ../sass/common.scss */
body, body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'MuseoSans';
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

/* line 197, ../sass/common.scss */
body.app {
  background: none repeat scroll 0 0 #F5F5F5;
}

/* line 201, ../sass/common.scss */
a {
  border-bottom: 1px solid #621f71;
  color: #621f71;
}
/* line 205, ../sass/common.scss */
a:link {
  color: #621f71;
  text-decoration: none;
}
/* line 209, ../sass/common.scss */
a:hover, a:active, a:focus {
  color: #0d8dcc;
}

/* line 214, ../sass/common.scss */
.clearfix, .add-clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after, .add-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 218, ../sass/common.scss */
ul, ol, dl {
  line-height: 1.6;
}

/* line 222, ../sass/common.scss */
h1 {
  font-size: 32px;
}

/* line 226, ../sass/common.scss */
h2 {
  font-size: 24px;
}

/* line 230, ../sass/common.scss */
h3 {
  font-size: 16px;
}

/* line 234, ../sass/common.scss */
h4 {
  font-size: 14px;
}

/* line 238, ../sass/common.scss */
h5 {
  font-size: 12px;
}

/* line 242, ../sass/common.scss */
h6 {
  font-size: 10px;
}

/* line 246, ../sass/common.scss */
.left {
  float: left;
}

/* line 250, ../sass/common.scss */
.right {
  float: right;
}

/* -----------------------------------------
   App Navigation
----------------------------------------- */
/* line 257, ../sass/common.scss */
.top-nav {
  padding: 0 8px;
  position: fixed;
  z-index: 10;
  background: white;
  width: 100%;
  height: 55px;
  border-bottom: 5px solid #ebebeb;
  line-height: 55px;
  border-bottom: none;
}
/* line 268, ../sass/common.scss */
.top-nav a {
  font-size: 14px;
}
/* line 272, ../sass/common.scss */
.top-nav a.gray-link {
  color: #757575;
}
/* line 276, ../sass/common.scss */
.top-nav .tiny-splitter {
  display: inline-block;
  height: 18px;
  border-right: solid 1px #ccc;
  position: relative;
  top: 5px;
}
/* line 284, ../sass/common.scss */
.top-nav .logo {
  background: url('../images/logo.png?1421200214');
  float: left;
  display: inline-block;
  width: 64px;
  height: 50px;
  text-decoration: none;
  border-bottom: none;
}
/* line 294, ../sass/common.scss */
.top-nav .powered-by {
  background: url('../images/powered_by.png?1421200214');
  float: left;
  display: inline-block;
  width: 188px;
  height: 32px;
  text-decoration: none;
  border-bottom: none;
}

/* -----------------------------------------
    workspace global style, make the sub contents
    in a predefined container
----------------------------------------- */
/* line 309, ../sass/common.scss */
.workspace-con {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 55px;
}
/* line 316, ../sass/common.scss */
.workspace-con .workspace {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}
/* line 322, ../sass/common.scss */
.workspace-con .workspace .sidebar-con {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 4;
}
/* line 330, ../sass/common.scss */
.workspace-con .workspace .main-con {
  width: 100%;
  height: 100%;
  padding-left: 247px;
}
/* line 335, ../sass/common.scss */
.workspace-con .workspace .main-con .page-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 340, ../sass/common.scss */
.workspace-con .workspace .main-con .page-wrapper .page-header {
  height: 61px;
  line-height: 61px;
  padding-left: 25px;
  z-index: 1;
  position: relative;
  background: #f5f5f5;
}
/* line 348, ../sass/common.scss */
.workspace-con .workspace .main-con .page-wrapper .page-header h1 {
  font-size: 30px;
  font-weight: normal;
  float: left;
}
/* line 353, ../sass/common.scss */
.workspace-con .workspace .main-con .page-wrapper .page-header h1 * {
  vertical-align: middle;
}
/* line 357, ../sass/common.scss */
.workspace-con .workspace .main-con .page-wrapper .page-header h1 .page-name {
  font-size: 30px;
}
/* line 361, ../sass/common.scss */
.workspace-con .workspace .main-con .page-wrapper .page-header h1 .page-manage {
  margin-left: 20px;
}
/* line 367, ../sass/common.scss */
.workspace-con .workspace .main-con .page-wrapper .page-content {
  height: 100%;
  width: 100%;
  padding-top: 61px;
  overflow: auto;
  background: white;
  position: absolute;
  top: 0;
}

/* line 382, ../sass/common.scss */
.formError .formErrorContent {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  -moz-box-shadow: 2px 2px 3px #999;
  -webkit-box-shadow: 2px 2px 3px #999;
  box-shadow: 2px 2px 3px #999;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  background: #ea262b;
}
/* line 392, ../sass/common.scss */
.formError .formErrorArrow div {
  border: none;
  background: #ea262b;
}
/* line 396, ../sass/common.scss */
.formError .formErrorArrow .line3 {
  border: none;
}
/* line 399, ../sass/common.scss */
.formError .formErrorArrow .line2 {
  background: none;
}
/* line 402, ../sass/common.scss */
.formError .formErrorArrow .line1 {
  background: none;
}

/* line 408, ../sass/common.scss */
.bottom-action-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid gray;
  background: white;
}
/* line 416, ../sass/common.scss */
.bottom-action-area .lm-button {
  margin: 0 5px;
}
/* line 420, ../sass/common.scss */
.bottom-action-area .link-btn {
  margin-top: 10px;
}

/* line 426, ../sass/common.scss */
.lm-sidebar .name-search {
  padding: 14px 10px 3px 10px;
  background: #dfdfdf;
  border-bottom: 1px solid #ccc;
  position: relative;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(0%, #f0f0f0), color-stop(100%, #dfdfdf));
  background-image: -moz-linear-gradient(#ffffff, #f0f0f0 0%, #dfdfdf 100%);
  background-image: -webkit-linear-gradient(#ffffff, #f0f0f0 0%, #dfdfdf 100%);
  background-image: linear-gradient(#ffffff, #f0f0f0 0%, #dfdfdf 100%);
  padding-bottom: 15px;
}
/* line 434, ../sass/common.scss */
.lm-sidebar .name-search h4.page-title {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 24px;
  color: #333;
}
/* line 442, ../sass/common.scss */
.lm-sidebar .tree-wrapper {
  overflow-y: auto;
  position: relative;
  background: #f5f5f5;
}

/* datetime picker */
/* line 451, ../sass/common.scss */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}

/* line 455, ../sass/common.scss */
.ui-timepicker-div dl {
  text-align: left;
}

/* line 459, ../sass/common.scss */
.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}

/* line 464, ../sass/common.scss */
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}

/* line 468, ../sass/common.scss */
.ui-timepicker-div td {
  font-size: 90%;
}

/* line 472, ../sass/common.scss */
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

/* line 479, ../sass/common.scss */
.ui-timepicker-rtl {
  direction: rtl;
}

/* line 483, ../sass/common.scss */
.ui-timepicker-rtl dl {
  text-align: right;
}

/* line 487, ../sass/common.scss */
.ui-timepicker-rtl dl dd {
  margin: 0 65px 10px 10px;
}

/* line 491, ../sass/common.scss */
.ellips {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 499, ../sass/common.scss */
span.ellips {
  display: inline-block;
}

/* line 504, ../sass/common.scss */
button[disabled], input[disabled] {
  opacity: 0.4;
}

/* line 508, ../sass/common.scss */
.signin-content {
  width: 515px;
  margin: auto;
  padding-top: 60px;
}
/* line 512, ../sass/common.scss */
.signin-content .signin-logo {
  width: 288px;
  height: 56px;
  margin: 0 auto 25px auto;
  background: url('../images/signin_logo.png?1421200214');
}
/* line 519, ../sass/common.scss */
.signin-content .section-box {
  padding: 55px 100px;
}
/* line 522, ../sass/common.scss */
.signin-content .section-box .section-content {
  padding: 0;
}

/* line 528, ../sass/common.scss */
.page-foot {
  margin-top: 20px;
  text-align: center;
}

/* CSS Arrows */
/* line 534, ../sass/common.scss */
.gray-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5.5px 0 5.5px;
  border-color: #888888 transparent transparent transparent;
  display: inline-block;
}
