<div id="dlgDebugRequest">
    <!--<div class="hd">Run Debug Command-->
    <!--<div class="top_left"></div>-->
    <!--<div class="top_right"></div>-->
    <!--</div>-->

    <div class="bd">
        <form id="frmDebugRequest" onsubmit="return false;">
            <textarea id="debugResult" name="debugResult" rows="15" cols="80" wrap="soft" readonly style="overflow-y: visible; height:600px;">{{msg}}</textarea><br/>
            <br/><span class="form_spacer"></span>

            <input type="text" id="debugCommand" style="width:100%;" name="debugCommand" size="80" /><br/>
            <span class="form_spacer"></span>
        </form>
    </div>
    <!--<div class="ft" style="text-align: right;"></div>-->
    <!--<div class="bottom">-->
    <!--<div class="bottom_left"></div>-->
    <!--<div class="bottom_right"></div>-->
    <!--</div>-->
</div>

